@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Risque&display=swap');
header{
    background-color: black;
    color:aliceblue;
}
.nav-item{
    font-weight: 700; 
    padding: 10px;
    color:#fcd701;
}

.btn.btn-warning:hover{
    color:white;
}
#carousel{
    background-color: black;
}
h1#new , h2#new, h3#new{
    font-family: 'Risque', cursive;
    text-align: center;
    color:#fcd701; 
    padding-top: 2px;
}
h2#new{
    color:white; 
}
#carousel1 h1{
    font-family: "New Rocker", serif;
    color:#fcd701;
    text-align: center; 
    font-weight: 700px; 

}
#carousel1 p{
    text-align: center;
    color:#3e3e3e;
    font-size: large;
    padding-bottom: 30px;
}
#order{
    background-color: black;
    color:white;
    border-color: black;
}
#order:hover{
    background-color: rgb(240, 240, 18);
    border-color:red;
}
h5#title{
    font-size: 18px;
    font-family:"New Rocker", serif;
    font-weight: 600;
    font: bold;
}
#bg{
    background-color: rgba(244, 234, 234, 0.311);
}
div.card{
    border: none;
}

#image {
    transition: transform 0.3s ease-in;
}

#image:hover {
    transform: scale(1.1) rotate(1deg); /* Zoom in and rotate 10 degrees */
}
#bgimage{
    background-image: url(parallax1.jpg);
    height: 300px;
}
img#promoimg{
    padding-top: 30px;
}
.row h1{
    color:white;
    font-family:"New Rocker", serif;
    padding-top: 50px;
}
#content h1{
color:rgba(190, 190, 14, 0.698)
}
#content pre{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    padding-top: 20px;
    color:chocolate;
}
footer{
    background-color: black;
}
#foot1 {
    color:white;
}
h4#foot1{
    font-family: 'Risque', cursive;
}
h3#foot4{
    color:white;
    font-family: 'Risque', cursive;
}
p#foot5{
    color:white;
}
#space{
    padding-top: 30px;
}
#log:hover{
background-color: #fcd701;
}
#end{
    color:blue;
    background-color: white;
    
}
#link{
    text-decoration: none;
    color:yellow;
}